*{
   margin: 0;
   padding: 0;
 
 
 

 }

 html{
   font-size: 62.5%;
   font-family: 'Josefin Sans', sans-serif;
 }

 :root{

  --whiteColor:#fff;
  --redColor:	#DC143C;
 }


.cardlist{
width: 90vw;
margin: 0 auto;
display: grid;
grid-template-columns:repeat(auto-fill, minmax(30rem, 1fr));

grid-column-gap: 5rem;
padding: 10rem 0;
}


 .card-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: justify;
   align-items: center;
   width: 80%;
   padding: 4rem;
   margin:4rem 0 4rem 0;
   border: 0.1rem solid red;
  
}
.card-title{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;

}
.card-text{
  font-size: 1.3rem;
}
.delete-btn{
  background-color: red;
  border: none;
  outline-style: none;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem 0;
}